[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy-rotating-proxies = "*"
scrapy-random-useragent = "*"
scrapy = "*"
sendgrid = "*"
python-dotenv = "*"
unidecode = "*"
twisted = "*"

[dev-packages]

[requires]
python_version = "3.9"
